* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables:
$body-bg: #555555;
$link-c: #dddddd;

body {
  background: $body-bg;
}

a {
  text-decoration: none;
  color: $link-c;

  &:hover {
    transition: color 0.5s;
    color: darken($link-c, 20);
  }
}

ul {
  li {
    list-style: none;
  }
}

.container {
  width: 70%;
  margin: 0 auto;
}

// navigation:
.main__nav {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;

  &-list {
    display: flex;
    padding-right: 30px;

    &-link {
      margin: 20px;
    }
  }
}

// header:
.page__header {
  width: 100%;
  height: 30vh;

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 5em;
  }
}
